---
layout: default
---

<div class="home">

  <p class="podcast-subscribe">
    subscribe to podcast <a href="{{ "/podcast.xml" | prepend: site.baseurl }}">via RSS</a>
    or <a href="https://itunes.apple.com/us/podcast/hunchpig/id1073494919">view in iTunes</a>
  </p>

  <!-- <h1 class="page&#45;heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
    {% assign episodes = site.episodes | sort: 'pubDate' | reverse %}
    {% for episode in episodes %}
      <li>
        <h2>{{episode.title}}</h2>
        <p><strong>{{episode.subtitle}}</strong></p>
        <p>{{episode.summary}}</p>

        <audio controls>
          <source src="{{episode.enclosureUrl}}" type="{{ep.enclosureType}}"/>
        </audio>

        <p>
        <a href="{{episode.enclosureUrl}}">Download</a>
        </p>
        <p>Published {{episode.pubDate}}</p>
      </li>
    {% endfor %}
  </ul>

</div>
